<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>


<form action="/transaction" method="post">
    <p><b>Sender name:</b><br>
        <input type="text" name="SenderName">
    </p>
    <p><b>Sender password:</b>><br>
        <input type="text" name="SenderPass">
    </p>
    <p><b>Count</b><br>
        <input type="text" name="count">
    </p>
    <p><b>Name to</b><br>
        <input type="text" name="nameTo">
    </p>
    <input type="submit" value="Submit">
</form>

</body>
</html>